{% extends 'auth/auth_base.html' %}

{% block title %}
    Sign Up
{% endblock %}

{% block form_title %}
    Register now
{% endblock %}

{% block form_fields %}
    {% include 'auth/form_fields/username.html' %}
    {% include 'auth/form_fields/email.html' %}
    {% include 'auth/form_fields/password.html' %}
    {% include 'auth/form_fields/confirm_password.html' %}
{% endblock %}

{% block button_title %}
    Sign Up
{% endblock %}

{% block form_extra %}
    <div class="p-t-15"></div>
    {% include 'auth/form_extra/signin_extra.html' %}
{% endblock %}