{% extends 'auth/base.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block form_title %}
    Reset Password
{% endblock %}

{% block form_fields %}
    {% if email_not_found %}
        <div class="alert alert-danger">
            <strong>Oops!</strong> We couldn't find an account with that email address.
        </div>
    {% endif %}
    {% include 'auth/form_fields/email.html' %}
{% endblock %}

{% block button_title %}
    Reset
{% endblock %}

{% block form_extra %}
    <div class="p-t-15"></div>
    {% include 'auth/form_extra/signup_extra.html' %}
{% endblock %}