{% extends 'auth/auth_base.html' %}

{% block title %}
    Sign Up
{% endblock %}

{% block form_title %}
    Register now
{% endblock %}

{% block form_fields %}
    <div class="wrap-input100 validate-input" data-validate="Enter username">
        <label>
            <input class="input100" type="text" name="username">
            <span class="focus-input100" data-placeholder="Username"></span>
        </label>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Enter valid email">
        <label>
            <input class="input100" type="text" name="email">
            <span class="focus-input100" data-placeholder="Email"></span>
        </label>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Enter password">
        <label>
            <span class="btn-show-pass">
                <i class="zmdi zmdi-eye"></i>
            </span>
            <input class="input100" type="password" name="pass">
            <span class="focus-input100" data-placeholder="Password"></span>
        </label>
    </div>
{% endblock %}

{% block button_title %}
    Sign Up
{% endblock %}

{% block form_extra %}
    <div class="text-center p-t-20">
        <span class="txt1">
            Already have an account?
        </span>

        <a class="txt2" href="signin">
            Sign In
        </a>
    </div>
{% endblock %}