{% extends 'auth/base.html' %}

{% block title %}
    Sign Up
{% endblock %}

{% block form_title %}
    Register now
{% endblock %}

{% block form_fields %}
    {% if email_raises or username_raise %}
        <div class="alert alert-danger" role="alert">
            <div class="alert-heading">
                {% if email_raises and username_raise %}
                    This username and email is already registered.
                {% elif email_raises %}
                    This email is already registered.
                {% elif username_raise %}
                    This username is already registered.
                {% endif %}
            </div>
            <p>
                Try <a href="auth/signin">sign in</a> or <a href="auth/reset-password">reset your password</a>.
            </p>
        </div>
    {% endif %}

    {% include 'auth/form_fields/username.html' %}
    {% include 'auth/form_fields/email.html' %}
    {% include 'auth/form_fields/password.html' %}
    {% include 'auth/form_fields/confirm_password.html' %}
{% endblock %}

{% block button_title %}
    Sign Up
{% endblock %}

{% block form_extra %}
    <div class="p-t-15"></div>
    {% include 'auth/form_extra/signin_extra.html' %}
{% endblock %}